<div class=" w-2/6 h-16 bg-blue-600 flex justify-center items-center fixed">
    <p class="text-white">Smart Assesment</p>
</div>
<div class=" w-2/6 h-20 bg-blue-500 flex justify-between items-center px-5 fixed top-16">
    <p class="text-white">Filters</p>
    <div class="w-10 h-10 bg-white rounded-full cursor-pointer flex justify-center items-center">
        <i class="material-icons text-gray-500">favorite</i>
    </div>
</div>

<div class=" flex">
    <div class=" w-2/6 h-screen bg-slate-100 overflow-scroll flex flex-wrap justify-center ">
        <div class="mt-36">
            <div *ngFor="let apartmentCard of aparmentCardList" class>
                <app-apartment-card [apartmentCard]="apartmentCard"></app-apartment-card>
            </div>
        </div>
    </div>
    <div class="w-4/6 h-screen">
        <app-map [mapConfig]="mapConfig"></app-map>
    </div>
</div>
